<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Página Django</title>
</head>
<body>
    <h3>Olá da página de teste.</h3>
    <form>
        {{form.title}}
        <input type="submit" value="Cadastrar">
    </form>
    {% for task in tasks %}
    <div>
        <p>{{task}}</p>
    </div>
    {% endfor %}
</body>
</html>